body {
    background-image: url("../src/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

video {
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

hr {
    width: 80%;
    margin: 20px 0;
    border: 1px solid black;
}

select {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"] {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="number"] {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    font-size: 16px;
    margin-top: 10px;
}
