body {
    background-image: url("../src/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

video {
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

hr {
    width: 80%;
    margin: 20px 0;
    border: 1px solid black;
}

/* Attach labels to inputs */

label {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 8px;
}

/* Attach select to its label */
select {
    margin: 10px 10px 10px 0;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"] {
    margin: 10px 10px 10px 0;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="number"] {
    margin: 10px 10px 10px 0;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1 {
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.7);
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 20px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
