* {
    box-sizing: border-box;
}

body {
    background-color: #172554;
    color: white;
    margin: 0;
    padding: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}

h1 {
    text-align: center;
}