:root {
    font-family: "Inter", system-ui, -apple-system, sans-serif;
}

body {
    margin: 0;
    background-color: #282d35;
    color: white;
}

.main-content,
.main-header {
    padding: 10px 20px;
}

.logo-background {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -60%);
    width: auto;
    height: 300px;
    opacity: 0.1;
    z-index: 0;
    /* Image color grayscale */
    filter: grayscale(100%);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 55px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.brand-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #61dafb;
}

.navigation-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: white;
}

.facts-list > li::marker {
    color: #61dafb;
    font-size: 2rem;
    line-height: 40px;
}

.facts-list > li {
    max-width: 400px;
    line-height: 40px;
    padding-block: 10px;
}
