:root {
    font-family: "Inter", system-ui, -apple-system, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    height: 55px;
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;
}
