* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}

header > h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8E8E8E;
}

section.game-status {
    background-color: #10A95B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 4px;
    margin-block: 30px;
}

section.game-status > p {
    margin: 5px;
}
section.game-status > h2 {
    font-size: 1.25rem;
    margin: 5px
}
